---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About" description="About the author">
  <article class="prose mx-auto">
    <h1>About</h1>
    <p>
      Hi, I'm a blogger. This page is a work in progress. Edit me at
      <code>src/pages/about.astro</code>.
    </p>
  </article>
</BaseLayout>